.container {
    max-width: 120rem; // 1200px
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium2) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%; // flex-grow: 0, flex-shrink: 0, flex-basis: 18% = width.

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    flex: 1; // flex-grow: 1 which means it grows to the remaining width which os 100% - 18% = 82%.
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-medium2) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }

}

.description {
    background-color: #fff;
    flex: 0 0 60%; // flex-grow: 1, flex-shrink: 1, flex-basis: 60%
    margin-right: 4.5rem;
    box-shadow: var(--shadow-light);
    padding: 3rem;

    @media only screen and (max-width: $bp-medium2) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-bottom: 2rem;
        margin-right: 0;
        
    }

}

.user-reviews {
    flex: 1; // flex-grow: 1 

    display: flex;
    flex-direction: column;
    align-items: center; // in order to remove the long border under button show all, as default value is set to stretch we are over riding it by assigning a center value


}